extends layout

block content
  //- div.container
  //-   div.row
  //-     h2= 'Enter Location'
  //-     div.col-md-2
  //-       input.form-control.col-md-2#loc(type='text')
  //-     button.btn.btn-warning#sendLoc Submit
  
  //- div#results.container
  
  div#zombie
    h1 Zombie Yelp
    input.form-control#loc(type='text')
    button.btn.btn-warning#sendLoc Submit

  div#results
